:root {
    --light: #DEF5E5;
    --light-mid: #BCEAD5;
    --mid: #9ED5C5;
    --dark: #8EC3B0;
    --matte-black: #28282b;
    --black: #000;
}

body {
    color: var(--matte-black);
    background: #eaf5ed;
    font-family: 'Nunito Sans';
}
/*  Check at width: 660px - 740px 
    Affects width of header and main
*/

/* ---------------------------------------------------------------------- HEADER
length: 80 characters
*/

header {
    width: 100vw;
    padding: 1.2rem 2.4rem;
    color: var(--light);
    background: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 { 
    margin: 0;
    border-bottom: 0.1rem solid var(--light);
}

.select {
    width: 24rem;
    height: 3.2rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}

#toggle-select {
    width: 100%;
    height: 100%;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid var(--light);
    outline: none;
    color: var(--shade);
    background: var(--dark);
    font-family: 'Nunito Sans';
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#toggle-select .closed { transform: rotate(180deg) }
#toggle-select .open { transform: rotate(90deg) }

.select .content {
    width: 100%;
    background: var(--light-mid);
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

.select .content a {
    color: var(--matte-black);
    font-family: 'Nunito Sans';
    text-decoration: none;
}

.select.expand .content {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    transition: opacity 0.1s ease-in; 
}

.select.expand .content a {
    width: 100%;
    padding: 0.8rem 0 0.8rem 1.2rem;
    border: 0.1rem solid transparent;
}

.select.expand .content a:hover { 
    background: var(--mid) 
}

@media screen and (width <= 450px) {
    .mobile-no-display { display: none }
}

/* -------------------------------------------------------------------- MEGATRON
*/

.megatron {
    position: relative;
    width: 100%;
    height: calc(100vh - 3.2rem);
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.megatron .container {
    position: absolute;
    top: 20%;
    width: 85%;
    max-width: 64rem;
    padding: 2.4rem;
    border: 0.3rem solid var(--dark);
    border-radius: 1.8rem;
    font-size: 2rem;
    text-align: justify;
    line-height: 1.1;
}

.megatron a { color: var(--dark) }
.megatron a:hover { color: var(--matte-black) }

.megatron .question {
    position: absolute;
    left: -2.4rem;
    bottom: -25%;
    padding: 1.2rem 1.8rem;
    border: 0.1rem solid var(--dark);
    border-radius: 1.8rem;
    background: #eee;
    font-size: 1.8rem;
}

.megatron .answer {
    position: absolute;
    left: 25%;
    right: -35%;
    top: 75%;
    padding: 1.2rem 1.8rem;
    border: 0.1rem solid var(--mid);
    border-radius: 1.8rem;
    background: #eee;
    font-size: 1.6rem;
}

@media screen and (width <= 550px) {
    .megatron .question {
        left: -0.3rem;
        width: calc(100% + 0.6rem);
        border-width: 0.3rem;
    }

    .megatron .answer {
        left: -0.3rem;
        right: 0;
        width: calc(100% + 0.6rem);
        border-width: 0.3rem;
    }
}

/* ------------------------------------------------------------------------ MAIN
*/

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    position: relative;
    width: 100%;
    max-width: 98.4rem;
    margin: 0 auto;
}

.heading { 
    width: 100%;
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: 1fr 14rem;
}

.heading a { 
    width: 100%;
    padding: 1.2rem 2.4rem;
    display: block;
}

.heading a:first-of-type { 
    border-left: 0.1rem solid transparent;
    color: var(--dark);
}
.heading a:first-of-type:hover { 
    border-left-color: var(--matte-black);
    color: var(--matte-black);
}

.heading a:last-of-type {
    border-radius: 1.8rem;
    color: var(--dark);
    background: var(--light-mid);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading a:last-of-type:hover {
    color: var(--light);
    background: var(--mid);
}

.heading h2 {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.2rem;
    justify-items: center;
}

figure {
    position: relative;
    width: 32rem;
    height: 32rem;
    border-radius: 1.2rem;
    overflow: hidden;
}

figure img {
    width: auto;
    height: 100%;
}

figcaption {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1.2rem;
    color: var(--matte-black);
    background: var(--light-mid);
    transform: translateY(-100%);
    transition: all 0.2s;
}

figcaption a { 
    padding: 0 0.4rem;
    border: 0.1rem solid var(--light);
    border-radius: 0.4rem;
    color: var(--matte-black);
    background: var(--light);
}

figcaption a:hover { 
    border: 0.1rem solid var(--mid);
    color: var(--light);
    background: var(--mid);
}

figure:hover figcaption {
    transform: translateY(0);
}

/* ---------------------------------------------------------------------- FOOTER
*/

footer {
    width: 100%;
    margin-top: 3.6rem;
    color: var(--light);
    background: var(--dark);
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer a { color: var(--matte-black) }
footer a:hover { color: var(--light) }

.contact {
    margin-right: 1.2rem;
    padding: 0.4rem 0.8rem;
    border: 0.1rem solid var(--light);
    border-radius: 1.2rem;
}