:root {
    --white: #E7EFF6;
    --yellow: #EAC215;
    --blue-black: #14223B;
    /* Version 1 */
    --light-brown-1: #9D8073;
    --mid-brown-1: #88604C;
    --red-1: #AB4735;
    --dark-red-1: #641A16;
    /* Version 2 */
    --gray-2: #5C5F59;
    --blue-gray-2: #496977;
    --orange-2: #DD823C;
    --mid-orange-2: #A94A0F;
}

body {
    font-family: 'Nunito Sans'
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    border-bottom: 0.2rem solid var(--blue-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header div { margin: 0 }

header h1 {
    display: flex;
    align-items: center;
}

header .classification {
    margin-left: 0.6rem;
    padding: 0.6rem 0.9rem;
    border: 0.1rem groove var(--blue-black);
    border-radius: 1.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.mobile { display: none }

@media screen and (width <= 550px) {
    .mobile-no-display { display: none }
    .mobile { display: inline-block }
}

header a { color: #888 }
header a:hover { color: #000 }

#toggle-version {
    margin-left: 1.2rem;
    padding: 0.6rem 0.9rem;
    border: 0.1rem solid #222;
    border-radius: 50%;
    color: #222;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

#toggle-version:hover { background: #ccc }