header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    border-bottom: 0.2rem solid var(--uni-off-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header div { margin: 0 }

header h1 {
    display: flex;
    align-items: center;
}

header .classification {
    margin-left: 0.6rem;
    padding: 0.6rem 0.9rem;
    border: 0.1rem solid var(--uni-off-black);
    border-radius: 1.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.mobile { display: none }

@media screen and (width <= 550px) {
    .mobile-no-display { display: none }
    .mobile { display: inline-block }
}

header a { color: var(--uni-mid) }
header a:hover { color: var(--uni-black) }

#toggle-version {
    margin-left: 1.2rem;
    padding: 0.6rem 0.9rem;
    border: 0.1rem solid var(--uni-off-black);
    border-radius: 50%;
    color: var(--uni-mid);
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

#toggle-version:hover { color: var(--uni-black) }